<!DOCTYPE html>
<html>
<head>
  <title>MintOrder</title>
  <%= stylesheet_link_tag    "mint-order/application", :media => "all" %>
  <%= javascript_include_tag "mint-order/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
